<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-body">
            <!--
            <div class="col-6">
              <mat-form-field>
                <mat-select placeholder="Search Member By: " name="searchType" id="searchType"
                  [(ngModel)]="selectedSearchType" (click)="changeEmpty()" (select)="changeEmpty()">
                  <mat-option *ngFor="let type of Types" [value]="type.value" (click)="selectSearchType()">
                    {{ type.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Search {{ searchText }}" type="search" id="searchBox" name="searchBox"
                  (focus)="changeEmpty()" required>
              </mat-form-field>
            </div>
          -->
            <div class="col-12">

              <!-- From Date -->
              <div class="col-6 input-group-prepend mr-auto">
                <span class="input-group-text">
                  <i class="material-icons"></i>
                </span>
                <mat-form-field  (click)="fromEnable()">
                  <input matInput [matDatepicker]="picker" placeholder="From" readonly id="fromDate" name="fromDate"
                    (click)="picker.open()" class="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf='fromNULL'>
                <mat-error>
                  Please From Select Date
                </mat-error>
              </div>
            </div>

            <div class="col-12">

              <!-- To Date  
              <legend>Datepicker Year</legend> -->
              <div class="col-6 input-group-prepend mr-auto">
                <span class="input-group-text">
                  <i class="material-icons"></i>
                </span>
                <mat-form-field (click)="toEnable()" >
                  <input matInput [matDatepicker]="picker2" placeholder="To" readonly id="toDate" name="toDate"
                    (click)="picker2.open()" class="date">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-6" *ngIf='toNULL'>
                <mat-error>
                  Please To Select Date
                </mat-error>
              </div>
            </div>


            <div class="col-2">
              <button mat-raised-button type="submit" class="btn btn-sm" id="searchButton" name="searchButton"
                (click)="searchClaim()"> <i class="material-icons">search</i> Search For Claims</button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="notFound">
      <div class="col-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-body text-center">
            <h5><b>Member(s) Not Found.</b> <span class="text-info">
                <h6>Try searching by using a different category</h6>
              </span></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="table">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title"><b>List of </b> Claims</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->

            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>Claim No.</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date</th>
                    <th>Paid</th>
                    <th class="disabled-sorting text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ><!--  *ngFor="let member of response.response; let i = index" -->
                    <td>Claim No.</td>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>Date</td>
                    <td>Paid</td>
                    <td class="text-right">
                      <button (click)="claimInfo(i)"
                        class="btn btn-link btn-warning "><i class="material-icons"
                          [class.active]="i == selectedClaim">info</i>Claim Info</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>