<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title"><b>Member </b>List</h4>
                  </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                          <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                      <th>Member ID</th>
                                      <th>Name</th>
                                      <th>Surname</th>
                                      <th>Date Joined</th>
                                      <th>Polycy Status</th>
                                      <th class="disabled-sorting text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let member of members; let i = index">
                                        <td>{{ member.idMembers }}</td>
                                        <td>{{ member.name }}</td>
                                        <td>{{ member.surname }}</td>
                                        <td>{{ member.date }}</td>
                                        <td>{{ member.policyStatus }}</td>
                                        <td class="text-right">
                                          <a (click)="editMember(i, member.idMembers)" class="btn btn-link btn-info btn-just-icon edit"><i class="material-icons" [class.active]="i == selectedrow">edit</i></a>
                                          <a (click)="viewMember(i, member.idMembers)" class="btn btn-link btn-warning btn-just-icon view"><i class="material-icons" [class.active]="i == selectedrow">info</i></a>
                                          <a (click)="deleteMember(i, member.idMembers)" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons" [class.active]="i == selectedrow">delete</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>
