<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      
        <div class="col-md-12">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">Form Elements</h4>
                </div>
              </div>
              <div class="card-body ">
                <form method="get" action="/" class="form-horizontal">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Society Name</label>
                    <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text">
                      </mat-form-field>
                    </div>
                    <label class="col-sm-2 col-form-label">Name of Member</label>
                    <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Contact Number</label>
                    <div class="col-sm-5">
                      <mat-form-field class="example-full-width">
                        <input matInput type="number">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-7 col-form-label">ADDRESS</label>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">House Number</label>
                    <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" >
                      </mat-form-field>
                    </div>
                    <label class="col-sm-2 col-form-label">Street Name</label>
                    <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Suburb</label>
                    <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" >
                      </mat-form-field>
                    </div>
                    <label class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row ">
                      <label class="col-sm-12 col-form-label"><button mat-raised-button type="submit" class="btn btn-rose " (click)="Save()">Save</button></label>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>

    </div>
  </div>