<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="rose"
    style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--    you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" method="" action="" [formGroup]="login">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Log in</h4>
              </div>
              <div class="card-body ">
                <p class="card-description text-center">Enter Your Credentials</p>

                <div class="card-footer justify-content-center" *ngIf="isIncorrect">
                    <mat-error  >
                        <b>Invalid Name or Password</b>
                      </mat-error>
                  </div>

                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" (focus)="changeEmpty()" id="username" name="username" class="form-control" placeholder="Name..."
                      required>
                  </div>
                  
                  <mat-error style="margin-left: 25%" *ngIf="emptyNAME">
                     Name is Required
                  </mat-error>
                </span>

                <span class="bmd-form-group" [ngClass]="{'has-success':validEmailLogin===true}">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" (focus)="changeEmpty()" id="password" name="password" class="form-control" placeholder="Password..."
                      required>
                  </div>
                  <mat-error style="margin-left: 25%" *ngIf="emptyPASS" >
                       Password is Required
                    </mat-error>
                </span>

              </div>


              <div class="card-footer justify-content-center">
                <button mat-raised-button type="submit" class="btn btn-rose btn-link btn-lg"
                  (click)="logins()">Login</button>
              </div>
              
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>





<!--
<div class="main-content">
    <div class="container-fluid">
<div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="card">
              <form [formGroup]="login" method="" action="">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">contacts</i>
                  </div>
                  <h4 class="card-title">Login Form</h4>
                </div>
                  <div class="card-body">
                    <mat-form-field class="example-full-width" [ngClass]="{'has-success':validEmailLogin===true}">
                       <input
                       type="email"
                       matInput
                       placeholder="Email Address *"
                       [errorStateMatcher]="matcher"
                       (ngModelChange)="emailValidationLogin($event)"
                       formControlName="email">
                       <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                         Please enter a valid email address
                       </mat-error>
                       <mat-error *ngIf="emailFormControl.hasError('required')">
                         Email is <strong>required</strong>
                       </mat-error>
                     </mat-form-field>
                      <mat-form-field class="example-full-width" [ngClass]="{'has-success':validPasswordLogin===true}" [ngClass]="displayFieldCss(login, 'password')">
                        <input type="password"
                        matInput
                        placeholder="Password *"
                        (ngModelChange)="passwordValidationLogin($event)"
                        formControlName="password">
                        <app-field-error-display [displayError]="isFieldValid(login, 'password')" errorMsg="Enter a valid password.">
                        </app-field-error-display>
                      </mat-form-field>
                      <div class="category form-category">* Required fields</div>
                    </div>
                      <div class="card-footer text-right">
                          <div class="form-group">
                              <button mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onLogin()">Login</button>
                          </div>
                      </div>
              </form>
          </div>
      </div>
    </div>
  </div>
                        <div class="col-sm-6">
                       
                        <div class="input-group form-control-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                              <mat-form-field class="example-full-width" [ngClass]="{'has-success':validEmailLogin===true}">
                       <input
                       type="email"
                       matInput
                       placeholder="Email Address *"
                       [errorStateMatcher]="matcher"
                       (ngModelChange)="emailValidationLogin($event)"
                       formControlName="username">
                       <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                         Please enter a valid email address
                       </mat-error>
                       <mat-error *ngIf="emailFormControl.hasError('required')">
                         Email is <strong>required</strong>
                       </mat-error>
                     </mat-form-field>
                            </div>
                          </div>
                        </div>
                      
                          
                  <input type="email" class="form-control" placeholder="User Name..." required>
                       <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                         Please enter a valid email address
                       </mat-error>
                       <mat-error *ngIf="emailFormControl.hasError('required')">
                         Email is <strong>required</strong>
                       </mat-error>
                     </mat-form-field>
                      </div>
                    </span>


<mat-form-field class="example-full-width" [ngClass]="{'has-success':validEmailLogin===true}">
                       <input
                       type="email"
                       matInput
                       placeholder="Email Address *"
                       [errorStateMatcher]="matcher"
                       (ngModelChange)="emailValidationLogin($event)"
                       formControlName="username">
                       <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                         Please enter a valid email address
                       </mat-error>
                       <mat-error *ngIf="emailFormControl.hasError('required')">
                         Email is <strong>required</strong>
                       </mat-error>
                     </mat-form-field>

                
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="User Name..." required>
                      </div>
                    </span>
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">email</i>
                          </span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email...">
                      </div>
                    </span> 






        <div class="col-6">
          <div class="card">
              <form [formGroup]="login">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">contacts</i>
                  </div>
                  <h4 class="card-title">Login Form</h4>
                </div>
                  <div class="card-body">
                    <mat-form-field class="example-full-width" [ngClass]="{'has-success':validEmailLogin===true}">
                       <input
                       type="email"
                       matInput
                       placeholder="Email Address *"
                       [errorStateMatcher]="matcher"
                       (ngModelChange)="emailValidationLogin($event)"
                       formControlName="email">
                       <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                         Please enter a valid email address
                       </mat-error>
                       <mat-error *ngIf="emailFormControl.hasError('required')">
                         Email is <strong>required</strong>
                       </mat-error>
                     </mat-form-field>
                      <mat-form-field class="example-full-width" [ngClass]="{'has-success':validPasswordLogin===true}" [ngClass]="displayFieldCss(login, 'password')">
                        <input type="password"
                        matInput
                        placeholder="Password *"
                        (ngModelChange)="passwordValidationLogin($event)"
                        formControlName="password">
                        <app-field-error-display [displayError]="isFieldValid(login, 'password')" errorMsg="Enter a valid password.">
                        </app-field-error-display>
                      </mat-form-field>
                      <div class="category form-category">* Required fields</div>
                    </div>
                      <div class="card-footer text-right">
                          <div class="form-group">
                              <button mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onLogin()">Login</button>
                          </div>
                      </div>
              </form>
          </div>
      </div>
-->