<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">

              <div class="col-md-12">
                  <div class="card card-plain">
                    <div class="card-header card-header-icon card-header-rose">
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title mt-0"> All Users</h4>
                      <p class="card-category"></p>
                    </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-hover">
                              <thead style="font-weight: bold"><!--
                                  <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                  </tr> -->
                                  <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Role</th>
                                    <th>Email</th>
                                  </tr>
                              </thead>
                            <tbody><!--
                                    <tr *ngFor="let row of tableData2.dataRows">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                    </tr>
                                  --> 
                                  <tr *ngFor="let user of users">
                                    <td>{{user.idEmployee}}</td> 
                                    <td>{{user.name}}</td>
                                    <td>{{user.surname}}</td>
                                    <td>{{user.role}}</td>
                                    <td>{{user.email}}</td>
                                  </tr>
                            </tbody>
                          </table>
                        </div>


                      </div>
                  </div>
              </div>

          </div>
          <button mat-raised-button class="btn pull-right" (click)="createUser()">Create New User</button>
      </div>
  </div>
</div>
